---
services:
  cheetah.webapi:
    image: ${DOCKER_REGISTRY-}cheetahwebapi
    hostname: cheetahwebapi
    healthcheck:
      test: ["CMD", "curl", "-f", "-k", "https://cheetahwebapi:1851/health"]
    build:
      context: ../
      dockerfile: dockerfiles/Dockerfile
      args:
        - projectFile=Cheetah.WebApi/Cheetah.WebApi.csproj
        - assemblyName=Cheetah.WebApi
      secrets:
        # Nuget restore outside Visual Studio
        - GITHUB_ACTOR
        - GITHUB_TOKEN
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ASPNETCORE_URLS=https://+:1851;http://+:1751"
      - "ASPNETCORE_Kestrel__Certificates__Default__Password=password"
      - "ASPNETCORE_Kestrel__Certificates__Default__Path=/app/https/aspnetapp.pfx"
      - "Prometheus__port=1861"
      - "OpenSearch__Url=http://opensearch:9200"
      - "OpenSearch__AuthMode=OAuth2"
      - "OpenSearch__OAuth2__ClientId=default-access"
      - "OpenSearch__OAuth2__ClientSecret=default-access-secret"
      - "OpenSearch__OAuth2__Scope=opensearch"
      - "OpenSearch__OAuth2__TokenEndpoint=http://keycloak:1852/realms/local-development/protocol/openid-connect/token"
      - "Kafka__Url=kafka:19092"
      - "Kafka__SecurityProtocol=SaslPlaintext"
      - "Kafka__SaslMechanism=OAuthBearer"
      - "Kafka__OAuth2__ClientId=default-access"
      - "Kafka__OAuth2__ClientSecret=default-access-secret"
      - "Kafka__OAuth2__TokenEndpoint=http://keycloak:1852/realms/local-development/protocol/openid-connect/token"
      - "Kafka__OAuth2__Scope=kafka"
      - "KafkaProducerConfig__Topic=cheetahwebapi"
      - "KafkaConsumerConfig__Topic=cheetahwebapi"
      - "KafkaConsumerConfig__ConsumerName=cheetahwebapi"
    networks:
      - cheetah-infrastructure
    ports:
      - 1751:1751
      - "1851:1851"
      - "1861:1861"
    volumes:
      - "$HOME/.aspnet/https:/app/https:ro"

networks:
  cheetah-infrastructure:
    external: true

secrets:
  GITHUB_TOKEN:
    environment: GITHUB_TOKEN
  GITHUB_ACTOR:
    environment: GITHUB_ACTOR
